/* global declaration */
body {
  font-family: Menlo, Monacco, monospace;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

button, input, select {
  cursor: pointer;
}

button, select {
  border: 1px solid #CCC;
  border-radius: .2rem;
  background-color: #f8f9fa;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover, select:not(.selecting):hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

select {
  padding: 1px 6px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: .5rem 0;
  font-weight: 500;
  line-height: 1.2;
}

.flex-float-right-first {
  margin-left: auto;
  order: 2;
}

.flex-float-right {
  order: 2;
}


/* dialog */
[data-a11y-dialog-native] > :first-child {
  display: none;
}

dialog {
  animation: hide .5s ease normal;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  padding: 0;
}

@keyframes hide{
  to {
    transform: translateY(-110%);
  }
}

dialog[open] {
  display: block;
  animation: show .5s ease normal;
}

@keyframes show{
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0%);
  }
}

.dialog-container[aria-hidden='true'] {
  display: none;
}

.dialog-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.dialog-btn-close {
  float: right;
}

.dialog-body {
  padding: 1rem;
}


/* gadget */
.github-corner {
  position: absolute;
  right: 0;
  top: 0;
}

#script {
  display: none;
}


/* main body */
header {
  padding: .67em;
}

.title {
  margin-top: 0;
}

#main {
  display: flex;
}

@media only screen and ( max-width: 544px ) {
  #main {
    flex-direction: column;
  }
}

#left-panel {
  height: 100%;
  margin-right: -2.5px;
  display: flex;
  flex-flow: column;
}

#right-panel {
  height: 100%;
  margin-left: -2.5px;
}

#right-panel > div {
  overflow-x: auto;
  overflow-y: auto;
}

.gutter {
  box-sizing: border-box;
  background-color: #f8f9fa;
  background-clip: content-box;
  transition: opacity .2s ease;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
  padding: 0 2.5px;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
  height: 5px;
}

#editor-bar {
  flex: 0 1 auto;
  background-color: #f8f9fa;
  border: 1px solid #d2d3d4;
  display: flex;
}

#editor-bar > * {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 2;
  border-color: #f8f9fa;
  display: flex;
}

#select-fontsize {
  font-family: serif;
  font-weight: bold;
}

#btn-show-parse-problem:not(.parse-problem) {
  visibility: hidden;
  width: 0;
  padding: 0;
}

.parse-continue > #span-parse-error, .parse-continue > #span-parse-warning,
.parse-error > #span-parse-continue, .parse-error > #span-parse-warning,
.parse-warning > #span-parse-continue, .parse-warning > #span-parse-error {
  display: none;
}

#editor {
  width: 100%;
  flex: 1 1 auto;
  overflow: auto;
}

.ace_marker-layer > div {
  position: absolute;
}

.ace_erroneous {
  background: red;
}

.ace_highlight {
  background: yellow;
}

#diagram-container {
  position: relative;
}


/* footer */
footer {
  flex: 0 1 40px;
  font-size: 0.8em;
  text-align: center;
  padding: 1em 0;
  line-height: 1.2em;
}

footer p {
  margin: unset;
}

.ep{
  display: none;
}

.workflow-wrapper {
  padding: 0.5rem .25rem .5rem .5rem;
}